<h2>Sign In</h2>

<%= form_for(:operatorsesh, url: operator_login_path) do |f| %>
  <%= f.label :user_name %>
  <%= f.text_field :user_name %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Login as Store Operator"%>
<% end %>
