<h1>All Store Requests</h1>

<table>
  <thead>
    <tr>
      <th>Request</th>
      <th>User</th>
      <th>Store Name</th>
      <th>Request Placed On:</th>
      <th>Request Updated At: </th>
      <th>Status</th>
      <th colspan="2">Action</th>
    </tr>

  </thead>

  <tbody class="table">
    <% @requests.each do |request| %>
      <div class="request<%= request.id %>">
        <tr>
        <td><%= request.id %></td>
        <td><%= request.user.username %></td>
        <td><%= request.name %></td>
        <td><%= request.created_at.to_formatted_s(:long_ordinal) %> </td>
        <td><%= request.updated_at.to_formatted_s(:long_ordinal) %> </td>
        <td><%= request.status.humanize %></td>
        <% if request.status == 'pending' %>
        <td><%= button_to "Approve", approve_store_request_path(request), class: "waves-effect waves-light btn black" %></td>
        <td><%= button_to "Decline", decline_store_request_path(request), class: "waves-effect waves-light btn black" %></td>
        <% elsif request.status == 'approved' %>
        <td><%= button_to "Approved", approve_store_request_path(request), class: "waves-effect waves-light btn disabled" %></td>
        <% else %>
        <td><%= button_to "Declined", approve_store_request_path(request), class: "waves-effect waves-light btn disabled" %></td>
        <% end %>
      </div>
      <% end %>
    </tbody>
  </table>