<!-- Button to open the modal login form -->
<button class="waves-effect waves-light btn white black-text" onclick="document.getElementById('id01').style.display='block'">Login</button>

<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
    <div class="container">
      <h4> Login </h4>
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.submit "Log In"%>
      <% end %>
      <br />
      <%= button_to "Login in with Twitter", "/auth/twitter", id: 'oauth_twitter_link' %>
      <br>
      <%= button_to "Forgot my Password", new_password_reset_path, method: :get %>
      <br>
      <%= button_to "Sign Up For An Account", new_user_path, method: :get %>
    </div>
</div>
